
<%= render 'layouts/header'; %>
<div id="banner" class="podcasts_banner">
  <h1>Discover your new favorite podcast</h1>
</div>

<div id="podcasts" class="cf">
  <div class="wrapper">
    <ul>
      <% @podcasts.each do |podcast| %>
        <%= link_to podcast_path(podcast) do %>
          <li>
            <img src="awe.jpg" alt="">
            <div class="podcast_overview">
              <h2>Narwals Podcast</h2>
              <div class="episode_count">1 Episode</div>
            </div>
          </li>
          <% end %>
        <% end %>
    </ul>
  </div>
</div>

